.nav-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: flex;
    flex-direction: column;
  }
}

.nav-content {
  background-color: #fff;
  width: 90%;
  height: 100%;
  max-width: 300px;
  right: 0;
  position: absolute;
}

.nav-drawer-header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 1rem;
  flex-direction: column;
}

.nav-logo {
  margin-right: auto;
}

.nav-link-wrapper {
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem;
  display: block;
}

@media screen and (min-width: 1024px) {
  .nav-drawer[aria-hidden="true"] {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    max-width: unset;
    justify-content: flex-end;
  }

  .nav-drawer-header {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
    justify-content: flex-end;
  }

  .nav-content {
    max-width: unset;
    flex-grow: 1;
    position: static;
  }
}
