@use "../../styles/variables" as *;
@use "../../styles/colors" as *;

.home-header-wrapper {
  position: relative;
  margin-top: $nav-height;
  padding: 3rem 1rem;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 0.1) 90%
    );
    content: "";
  }
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  h1 {
    margin-top: 0.2rem;
    color: #fff;
    font-size: 1.2rem;
    font-family: var(--font-courier);
    font-weight: 400;
  }

  a {
    color: #fff;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: $blue;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.logo-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
