@use "../../styles/colors" as *;
@use "../../styles/variables" as *;

.header {
  margin-top: $nav-height;
  text-align: center;
  padding: 2rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: var(--font-permanent-marker);
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  span {
    font-family: var(--font-courier);
  }

  &::after {
    width: 150px;
    height: 3px;
    border-radius: 3px;
    background-color: $red;
    display: block;
    content: "";
    margin: 1rem auto;
  }
}

.latest-reviews-wrapper {
  margin-top: 4rem;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
}
